:root {
    --color-blue: 217 87% 55%;
    --color-accent: 0 0% 80%;
    --color-black: 0 0 0;
    --color-white: 255 255 255;
    --color-red: 255 0 0;
    --color-green: 17 153 71;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

.hero {
    width: 99%;
    margin-inline: auto;
}

body {
    line-height: 1.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:1rem;
}

.container {
    width: 90;

    padding-inline: .5rem;
}

/*****************utility classes **************** */


a {
    text-decoration: none;
}

ul {
    list-style: none;
}

fieldset {
    outline: none;
    border: none;
}

img {
    max-width: 100%;
}

input {
    font: inherit;
}

.pad-2 {
    padding-inline: 2rem;
}

.mr-1 {
    margin-inline-start: 1rem;
}

.mr-2 {
    margin-inline-start: 2rem;
}

.flow-5 {
    margin-block-end: 5rem;
}

.flow-4 {
    margin-block-end: 4rem;
}

.flow-3 {
    margin-block-end: 3rem;
}

.flow-2 {
    margin-block-end: 2rem;
}



.flow-1 {
    margin-block-end: 1rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: var(--gap, 1rem)
}

.flex {
    display: flex;
    gap: var(--gap, 1rem)
}

.list-item {
    display: none;
}

.nav {
    justify-content: space-between;
    align-items: center;
}

main {
    /* background-color: red */
}

.register-email {
    justify-content: space-between;
}

.register-email>input,
.register-email>button {
    padding: .7rem;

}

.register-email>button {
    border-radius: 12px;
    outline: none;
    border: none;
    padding-inline: 1.5rem;
    background-color: hsl(var(--color-blue));
    color: white;
}

.img-cont > img{
    aspect-ratio: 2/1;
    border-radius: 20px;
    object-fit:cover;
}



.icon {
    padding: 1rem;
    background-color: chartreuse;
    color: white;
    font-size: 10px;
    border-radius: 10px;
}

span{
    font-size: 1.5rem;
}

.button {
    width: 120px;
    padding-block: .6rem;
    align-self: flex-start;
    border-radius: 6px;
    outline: none;
    border: none;
    background-color: hsl(var(--color-accent));
    color: rgb(0, 0, 0, .6);
    font-size: 1.03rem;

}

.pencil {
    background-color: hsl(var(--color-blue));

}

.code {
    background-color: rgb(var(--color-green)/.95);
}

.category {
    background-color: rgb(var(--color-red)/.65);
}





.sec-card img {
    border-radius: 20px;
}

.fs-small {
    font-size: .8rem;


}

.bold {
    font-weight: bold;
}

.fs-clr-accent {
    color: rgb(var(--color-black)/.62);
}

.fs-clr-white {
    color: rgb(var(--color-white))
}


.fs-clr-red {
    color: rgb(var(--color-red)/.65);
}

.fs-clr-blue {
    color: hsl(var(--color-blue));
}


.person-card>img {
    border-radius: 15px;
}


.person-card:nth-of-type(1) {
    align-self: center;
}


.decorate img {
    max-width: 5rem;
    border-radius: 10px;
}
<<<<<<< Updated upstream
=======


.join-us-button {
    padding: .8rem;
    border-radius: 8px;
    outline: none;
    border: none;
    background-color: hsl(var(--color-blue));
    color: white;
}

#footer-input-wrapper {
    position: relative;
    color: white
}

#footer-input-wrapper>button {
    position: absolute;
    left: 152px;
    top: 4.4px;
}

#footer-input-wrapper>input[type='email'] {
    position: absolute;
    left: 0;

}

footer {
    background-color: blue;
    color: white;
    padding-block: 2rem 9rem;
}

footer p {
    font: white;
}



footer a {
    color: white;
}
>>>>>>> Stashed changes
