:root {
    --color-blue: 217 87% 55%;
    --color-accent: 0 0% 80%;
    --color-black: 0 0 0;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

.hero {
    width: 99%;
    background-color: aqua;
    margin-inline: auto;
}

body {
    line-height: 1.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 90;
    background-color: burlywood;
    padding-inline: .5rem;
}

/*****************utility classes **************** */


a {
    text-decoration: none;
}

ul {
    list-style: none;
}

fieldset {
    outline: none;
    border: none;
}

img {
    max-width: 100%;
}

.pad-2 {
    padding-inline: 2rem;
}

.mr-1 {
    margin-inline-start: 1rem;
}

.mr-2 {
    margin-inline-start: 2rem;
}

.flow-5 {
    margin-block-end: 5rem;
}

.flow-4 {
    margin-block-end: 4rem;
}

.flow-3 {
    margin-block-end: 3rem;
}

.flow-2 {
    margin-block-end: 2rem;
}



.flow-1 {
    margin-block-end: 1rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: var(--gap, 1rem)
}

.flex {
    display: flex;
    gap: var(--gap, 1rem)
}

.list-item {
    display: none;
}

.nav {
    justify-content: space-between;
    align-items: center;
}

main {
    background-color: red
}

.register-email {
    justify-content: space-between;
}

.register-email>input,
.register-email>button {
    padding: .7rem;

}

.register-email>button {
    border-radius: 12px;
    outline: none;
    border: none;
    padding-inline: 1.5rem;
    background-color: hsl(var(--color-blue));
    color: white;
}



.icon {
    padding: 1rem;
    background-color: chartreuse;
    color: white;
    font-size: 10px;
}

.button {
    width: 120px;
    padding-block: .6rem;
    align-self: flex-start;
    border-radius: 6px;
    outline: none;
    border: none;
    background-color: hsl(var(--color-accent));
    color: rgb(0, 0, 0, .6);
    font-size: 1.03rem;

}

.pencil {
    background-color: hsl(var(--color-blue));

}





.sec-card img {
    border-radius: 20px;
}

.sec-card>p {
    font-size: .8rem;
    color: rgb(var(--color-black)/.4);
    font-weight: bold;
}


.person-card>img {
    border-radius: 15px;
}


.person-card:nth-of-type(1) {
    align-self: center;
}


.decorate img {
    max-width: 5rem;
    border-radius: 10px;
}
